*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
  overflow-x: hidden;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm45xW4.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_dJE7g4.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOlCnqEu92Fr1MmSU5vAw.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v29/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
body {
  font-family: 'Roboto', sans-serif;
}
.heading-primary {
  font-size: 3.8rem;
  font-weight: normal;
  color: #0f5f5c;
}
.heading-primary--light {
  color: #fff;
}
.heading-secondary {
  font-size: 3.2rem;
  font-weight: 300;
  color: #0f5f5c;
}
.paragraph {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #83a7a5;
}
.paragraph--light {
  color: #fff;
}
.paragraph--bigger {
  font-size: 1.7rem;
}
.anchor:link,
.anchor:visited {
  font-weight: 700;
  color: #6fb048;
  text-decoration: none;
}
.anchor:hover {
  color: #588c39;
}
.u-mb-tiny {
  margin-bottom: 0.5rem !important;
}
.u-mb-small {
  margin-bottom: 1rem !important;
}
.u-mb-medium {
  margin-bottom: 2rem !important;
}
.u-mb-large {
  margin-bottom: 3rem !important;
}
.u-my-medium {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}
.u-text-center {
  text-align: center !important;
}
.u-position-sticky {
  position: sticky !important;
  top: 3rem;
}
/* Mobile first layout SmartMenus Core CSS (it's not recommended editing these rules)
   You need this once per page no matter how many menu trees or different themes you use.
-------------------------------------------------------------------------------------------*/
.sm {
  box-sizing: border-box;
  position: relative;
  z-index: 9999;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.sm,
.sm ul,
.sm li {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: normal;
  direction: ltr;
  text-align: left;
}
.sm-rtl,
.sm-rtl ul,
.sm-rtl li {
  direction: rtl;
  text-align: right;
}
.sm > li > h1,
.sm > li > h2,
.sm > li > h3,
.sm > li > h4,
.sm > li > h5,
.sm > li > h6 {
  margin: 0;
  padding: 0;
}
.sm ul {
  display: none;
}
.sm li,
.sm a {
  position: relative;
}
.sm a {
  display: block;
}
.sm a.disabled {
  cursor: default;
}
.sm::after {
  content: "";
  display: block;
  height: 0;
  font: 0px/0 serif;
  clear: both;
  overflow: hidden;
}
.sm *,
.sm *::before,
.sm *::after {
  box-sizing: inherit;
}
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1rem;
}
pre code.hljs::-webkit-scrollbar {
  width: 1.3rem;
  height: 1.3rem;
}
pre code.hljs::-webkit-scrollbar-track {
  background: #365623;
}
pre code.hljs::-webkit-scrollbar-thumb {
  background: #649e41;
  border-radius: 1px;
  border: 2px solid #8ac269;
}
pre code.hljs::-webkit-scrollbar-thumb:hover {
  background: #5d933c;
}
code.hljs {
  padding: 0.3rem 0.5rem;
}
/*!
   Theme: Agate
   Author: (c) Taufik Nurrohman <hi@taufik-nurrohman.com>
   Maintainer: @taufik-nurrohman
   Updated: 2021-04-24

   #333
   #62c8f3
   #7bd694
   #888
   #a2fca2
   #ade5fc
   #b8d8a2
   #c6b4f0
   #d36363
   #fc9b9b
   #fcc28c
   #ffa
   #fff
*/
.hljs {
  background: #333;
  color: #fff;
  border-radius: 0.4rem;
  border: 0.3rem solid #6fb048;
  border-radius: 0.5rem;
}
.hljs-doctag,
.hljs-meta-keyword,
.hljs-name,
.hljs-strong {
  font-weight: 700;
}
.hljs-code,
.hljs-emphasis {
  font-style: italic;
}
.hljs-section,
.hljs-tag {
  color: #62c8f3;
}
.hljs-selector-class,
.hljs-selector-id,
.hljs-template-variable,
.hljs-variable {
  color: #ade5fc;
}
.hljs-meta-string,
.hljs-string {
  color: #a2fca2;
}
.hljs-attr,
.hljs-quote,
.hljs-selector-attr {
  color: #7bd694;
}
.hljs-tag .hljs-attr {
  color: inherit;
}
.hljs-attribute,
.hljs-title,
.hljs-type {
  color: #ffa;
}
.hljs-number,
.hljs-symbol {
  color: #d36363;
}
.hljs-bullet,
.hljs-template-tag {
  color: #b8d8a2;
}
.hljs-built_in,
.hljs-keyword,
.hljs-literal,
.hljs-selector-tag {
  color: #fcc28c;
}
.hljs-code,
.hljs-comment,
.hljs-formula {
  color: #888;
}
.hljs-link,
.hljs-regexp,
.hljs-selector-pseudo {
  color: #c6b4f0;
}
.hljs-meta {
  color: #fc9b9b;
}
.hljs-deletion {
  background: #fc9b9b;
  color: #333;
}
.hljs-addition {
  background: #a2fca2;
  color: #333;
}
.hljs-subst {
  color: #fff;
}
.hljs a {
  color: inherit;
}
.hljs a:focus,
.hljs a:hover {
  color: inherit;
  text-decoration: underline;
}
.hljs mark {
  background: #555;
  color: inherit;
}
.page {
  width: 100%;
  max-width: 180rem;
  margin: 0 auto;
}
.header {
  height: 8.5rem;
}
.header__content {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__heading {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.9rem;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}
.header__nav ul {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  font-weight: 700;
  list-style: none;
  display: flex;
}
.header__nav li:not(:last-child) {
  margin-right: 3rem;
}
.header__nav-link:link,
.header__nav-link:visited {
  color: #e6e6e6;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.1s;
}
.header__nav-link:hover,
.header__nav-link--active:link,
.header__nav-link--active:visited {
  color: #fff;
}
.header-container {
  height: 8.5rem;
  background-image: linear-gradient(rgba(45, 109, 111, 0.8), rgba(45, 109, 111, 0.8)), url('../../media/img/Background.png');
  background-size: cover;
  background-position: center;
}
.button-primary:link,
.button-primary:visited {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #6fb048;
  border-radius: 3px;
  text-decoration: none;
  padding: 2rem 4.5rem;
}
.button-primary:hover {
  background-color: #649e41;
}
.button-primary:active {
  background-color: #5f973e;
}
.button-primary--smaller:link,
.button-primary--smaller:visited {
  padding: 1.5rem 2.5rem;
}
.navigation ul {
  list-style: none;
}
.navigation__item:not(:last-child) {
  margin-bottom: 0.5rem;
}
.navigation__link:link,
.navigation__link:visited {
  display: block;
  font-size: 1.6rem;
  color: #0f5f5c;
  text-decoration: none;
  padding: 0.8rem 0;
  padding-right: 0.8rem;
  border-radius: 0.5rem;
  transition: all 0.2s, background-color 0.3s;
}
.navigation__link:hover,
.navigation__link--active:link,
.navigation__link--active:visited {
  background-color: #0f5f5c;
  color: #fff;
  padding: 0.8rem;
}
.navigation__link span {
  font-weight: 700;
  color: #6fb048;
  margin-right: 1rem;
}
hr {
  border: none;
  height: 1px;
  background-color: #6fb048;
}
.browser {
  min-height: 30rem;
}
.browser__header {
  height: 3rem;
  background-color: #c3dfb2;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  padding: 0 0.5rem;
}
.browser__icon {
  height: 100%;
  padding: 0.5rem 0;
  width: 2rem;
  margin: 0 0.15rem;
  fill: #0c4947;
}
.browser__icon--smaller {
  padding: 0.7rem 0;
  width: 1.6rem;
}
.browser__search-bar {
  display: inline-block;
  height: 2rem;
  margin: 0.5rem 0.5rem;
  margin-right: 0.3rem;
  width: calc(100% - 13.3rem);
  vertical-align: top;
  padding: 0 1rem;
  background-color: #fff;
  border-radius: 1rem;
}
.browser__search-bar svg {
  height: 100%;
  width: 1.2rem;
  margin-right: 0.3rem;
  fill: #0f5f5c;
}
.browser__search-bar span {
  display: inline-block;
  color: #0f5f5c;
  font-size: 1.3rem;
  padding-top: 0.3rem;
  vertical-align: top;
}
.browser__viewport {
  height: calc(100% - 3rem);
  min-height: 27rem;
  background-color: #dfeed6;
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
  border: 0.3rem solid #c3dfb2;
  border-top: none;
  overflow: auto;
}
.code-box {
  font-size: 1.6rem;
  background-color: #6fb048;
  border-radius: 0.5rem;
}
.home-welcome-section {
  background-image: linear-gradient(rgba(45, 109, 111, 0.8), rgba(45, 109, 111, 0.8)), url('../../media/img/Background.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.home-welcome-section__header-part {
  flex: 0 0;
}
.home-welcome-section__content-part {
  flex: 1;
  position: relative;
}
.home-welcome-section__content {
  width: 100%;
  max-width: 120rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.home-welcome-section__text {
  max-width: 58.5rem;
}
.article-page {
  background-color: #fff;
  padding: 8rem 3rem;
}
.article-page__content {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
}
.article-page__main-side {
  flex: 1;
  overflow: hidden;
}
.article-page__lateral-side {
  flex: 0 0 40rem;
  padding-left: 5rem;
}
