.home-welcome-section {
    background-color: @colors[secondary];
    background-image: linear-gradient(rgba(@colors[secondary], .8), rgba(@colors[secondary], .8)), url('../../media/img/Background.png');
    background-size: cover;
    background-position: center;

    height: 100vh;
    max-height: 100rem;
    min-height: 40rem;

    display: flex;
    flex-direction: column;

    @media print { display: none; }

    &__header-part {
        flex: 0 0;
    }

    &__content-part {
        flex: 1;

        position: relative;
    }

    &__content {
        width: 100%;
        padding: 0 3rem;
        max-width: @grid-width + 6rem;
        
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__text {
        max-width: 58.5rem;

        p {
            animation: moveInUp 1s .4s ease-in-out both;
        }
    }
}

.home-features-section {
    background-color: @colors[white];

    padding: 9rem 3rem;
    padding-bottom: 4rem;

    &__content {
        width: 100%;
        max-width: @grid-width + 6rem;
        margin: 0 auto;

        text-align: center;

        hr {
            max-width: 6.5rem;
            margin: 2rem auto;
        }

        p {
            max-width: 65rem;
            margin: 0 auto;
            margin-bottom: 7rem;
        }
    }

    &__features {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        div {
            padding: 0 3rem;

            width: 33.3333%;

            @media (max-width: #pxToEm(950)[]) {
                width: 50%;
            }
            @media (max-width: #pxToEm(500)[]) {
                width: 100%;
            }
            @media (max-width: #pxToEm(340)[]) {
                padding: 0;
            }
        }
    }

    &__feature-icon {
        width: 5.5rem;
        height: 5.5rem;

        fill: @colors[primary];

        margin-bottom: 2.5rem;
    }

    &__feature-heading {
        font-size: 1.8rem;
        
        color: @colors[secondary-2];

        margin-bottom: 1.5rem;
    }
}