.home-welcome-section {
    background-image: linear-gradient(rgba(@colors[secondary], .8), rgba(@colors[secondary], .8)), url('../../media/img/Background.png');
    background-size: cover;
    background-position: center;

    height: 100vh;

    display: flex;
    flex-direction: column;

    &__header-part {
        flex: 0 0;
    }

    &__content-part {
        flex: 1;
    }
}