@colors: {
    primary: #6fb048;
    secondary: #2d6d6f;
    secondary-2: #0f5f5c;

    text: #83a7a5;

    white: #fff;
    black: #000;
}

@max-page-width: 180rem;
// @grid-width: 106rem;
@grid-width: 120rem;