.button-primary {
    &:link, &:visited {
        display: inline-block;

        font-family: 'Montserrat', sans-serif;
        font-size: 1.4rem;

        text-transform: uppercase;
        color: @colors[white];
        background-color: @colors[primary];
        border-radius: 3px;
        text-decoration: none;

        padding: 2rem 4.5rem;
    }

    &:hover {
        background-color: darken(@colors[primary], 5%);
    }

    &:active {
        background-color: darken(@colors[primary], 7%);
    }

    &--smaller {
        &:link, &:visited {
            padding: 1.5rem 2.5rem;
        }
    }
}