.sm-no-theme {
    font-size: 1.4rem;

    @media (min-width: #pxToEm(768)[]) {
        > li {
            &:not(:last-child) {
                margin-right: .5rem;
            }
        }
    }


    &--with-highlighting {
        .highlighted {
            background-color: orangered;
        }
    }

    &--with-current {
        .current {
            background-color: lightgreen;
        }
    }
}

@media (min-width: #pxToEm(768)[]) {
    .sm-no-theme ul{position:absolute;width:12em;}
    .sm-no-theme li{float:left;}
    .sm-no-theme.sm-rtl li{float:right;}
    .sm-no-theme ul li,.sm-no-theme.sm-rtl ul li,.sm-no-theme.sm-vertical li{float:none;}
    .sm-no-theme a{white-space:nowrap;}
    .sm-no-theme ul a,.sm-no-theme.sm-vertical a{white-space:normal;}
    .sm-no-theme .sm-nowrap > li > a,.sm-no-theme .sm-nowrap > li > :not(ul) a{white-space:nowrap;}

    /* horizontal sub menus */
    .sm-no-theme li[data-sm-horizontal-sub] {
        position: static;
        
        > ul > li {
            margin-right: .5rem;
        }
    }
    .sm-no-theme li[data-sm-horizontal-sub] > ul {
        left: 0 !important;
        right: 0 !important;
        margin-left: 0 !important;
        margin-top: 0 !important;
        width: auto !important;
        min-width: 0 !important;
        max-width: none !important;
    }
    .sm-no-theme li[data-sm-horizontal-sub] > ul > li {
        float: left;
    }
    .sm-no-theme li[data-sm-horizontal-sub] > .scroll-up, li[data-sm-horizontal-sub] > .scroll-down {
        display: none !important;
    }
}



.sm-no-theme-collapsible {
    font-size: 1.4rem;
}